<section class="bg-[FFFFFF] text-black py-16 px-6 lg:px-16">
  <div class="container mx-auto flex flex-col lg:flex-row items-center gap-12">

<!-- Texte de présentation -->
<div class="lg:w-1/2 space-y-6">
  <h2 class="text-4xl font-bold text-[#0090bf]">Qui sommes-nous ?</h2>
  <p class="text-lg leading-relaxed">
    <strong>Innov&Impact Africa</strong> se positionne comme un leader incontournable dans le domaine du développement informatique et de la transformation digitale. Grâce à notre expertise approfondie, nous accompagnons les entreprises et les institutions dans leur parcours de transition numérique en leur proposant des solutions innovantes, sur mesure et parfaitement alignées avec leurs besoins spécifiques.
  </p>
  <p class="text-lg leading-relaxed">
    Nous collaborons avec des entreprises privées, des organismes publics ainsi que des acteurs des secteurs de l’éducation et de la santé, tous désireux d’optimiser leur performance à l’aide des nouvelles technologies.
  </p>
  <p class="text-lg leading-relaxed">
    Notre mission est de créer des solutions digitales performantes qui garantissent une expérience utilisateur fluide et intuitive, en plaçant l’innovation et l’agilité au cœur de notre démarche pour servir au mieux nos clients.
  </p>
  <!--<button class="bg-gradient-to-b from-[#EB960B] to-[#EB960B] hover:bg-[#EB960B] text-white px-8 py-3 rounded-lg transition-colors duration-300">
    En savoir plus
  </button>-->
</div>

    


    <!-- Image et Badge "23 ans d'expérience" -->
    <div class="lg:w-1/2 relative flex justify-center">
<!--      <img src="assets/images/expert.jpg " alt="Expert en technologie" class="rounded-ss shadow-lg w-full lg:max-w-lg">-->


      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="p-8 rounded-t-lg" src="assets/images/wakana_.jpeg" class="w-full" alt="product image" />
        </a>

      </div>


      <!-- Badge d'expérience -->
    <div class="absolute left-0 top-1/3 -ml-6 bg-gradient-to-b from-[#0090bf] to-[#C20051] px-6 py-10 text-white text-xl font-bold transform -rotate-90 sm:text-left">
        +3 ans d’expérience
      </div>
    </div>


  </div>
</section>
