<!-- HTML corrigé -->
<div class="bg-gradient-to-r from-[#FFFFFF] to-[#FFFFFF] py-16">
  <div class="container mx-auto text-center px-4">
    <h2 class="text-4xl font-bold text-[#0190BD] mb-8">Nos Services</h2>
    
    <div class="mx-2">
      <div class="max-w-7xl mx-auto text-center container">
        @defer (on viewport) {
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
            @for (service of realEstateServices; track service.title) {
              <div class="group overflow-hidden rounded-[10px] cursor-pointer card-plateforme relative">
                
                <!-- Image de la carte -->
                <img
                  [src]="service.image"
                  [alt]="service.title"
                  class="w-full h-full object-cover img-card"
                  loading="lazy">
                
                <!-- Div de superposition pour le texte au hover -->
                <div class="absolute inset-0 bg-[#FBFBFB] bg-opacity-5 flex flex-col justify-center items-center p-4 group-hover:bg-opacity-100 transition duration-300 card-one">
                  <h3 class="text-black text-lg font-semibold mb-16 opacity-0 group-hover:opacity-100 transition duration-300">
                    {{ service.title }}
                  </h3>
                  <p class="text-black text-sm opacity-0 group-hover:opacity-100 transition duration-300 text-center">
                    {{ service.description }}
                  </p>
                  <button class="mt-4 px-4 py-2 text-white rounded-lg opacity-0 group-hover:opacity-100 transition duration-300 font-bold btn-button">
                    Visitez
                  </button>
                </div>
                
                <!-- Bouton titre fixe, positionné de manière absolue et centrée horizontalement -->
                <div class="absolute bottom-20 left-0 right-0 flex justify-center group-hover:opacity-0 transition-opacity duration-300">
                  <div class="btn-card">
                    <h3 class="text-xl font-semibold">
                      {{ service.libeller | uppercase }}
                    </h3>
                  </div>
                </div>
              </div>
            }
          </div>
        } @placeholder {
          <div class="flex items-center justify-center h-64">
            <div class="animate-pulse space-y-4 w-full">
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
                @for (i of [1,2,3,4]; track i) {
                  <div class="rounded-lg bg-gray-200 h-64 w-full"></div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div> 
</div>